<div id="mainNav">
  <div id="logo" class="col-sm-3">
    <h1><a href="./">LOGO</a></h1>
  </div>
  <ul class="nav navbar-static-top col-sm-offset-3" ng-controller="DropdownCtrl">
    <!-- Simple dropdown -->
    <li class="dropdown" ng-repeat="item in structure.content" dropdown is-open="status.isopen" ng-init="status.isopen" ng-mouseenter="toggleDropdown($event);status.isopen=true" ng-mouseleave="delayClose(this)">
      <a ng-href="#{{item.main_item.path}}" class="dropdown-toggle">
        {{item.main_item.name}}
      </a>
      <ul class="dropdown-menu" ng-show="item.sub_item!=null">
        <li ng-repeat="sub_item in item.sub_item">
          <a ng-href="#{{item.main_item.path}}" ng-click="setTab($index)">{{sub_item.name}}</a>
        </li>
      </ul>
    </li>

  </ul>
</div>