#content {
  margin-top: 120px;  /* the same as nav-fix: height; */
}

/*  for nav  */

.space {
  height: 80px;
}

#main-nav {
  padding-top: 5px;
  width: 100%;
  background-color: rgba(255,255,255,1);
  z-index: 100;
}
#main-nav.nav-fixed-top {
  position: fixed;
  height: 120px;
}

#main-nav.skinny {
  height: 65px;
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

#main-nav.skinny.navbar {
  padding: 0 40px;
}
#main-nav.skinny h4 {
  display: none;
}
#main-nav.skinny h1.title {
  font-size: 24px;
  margin: 0;
  padding: 15px 0;
}
#main-nav.skinny .sub-nav {
  margin-top: 0;
}

#main-nav.navbar {
  padding: 20px 40px;
}

#logo {
  float: left;
}

.sub-nav {
  float: right;
  margin-top: 45px;
}

.sub-nav > li {
  float: left;
  padding-top: 10px;
}

.sub-nav > li > a {
  margin: 10px 15px;
  padding: 0px;
}

.dropdown-menu {
  padding: 0px;
  margin: 0px;
}

/* for footer */
footer {
  bottom: 0;
  margin-top: 50px;
  padding: 15px 0;
}

footer hr {
  margin-bottom: 36px;
}

/* for main_photo */
.space {
  height: 210px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
}

.space img {
  width: 100%;
}


/*  for side-bar nav */
#sidebar ul{
  margin-left: 10px;
}

.side-bar-grid-2 {
  display: inline-block;
  float: left;
  width: 19%;
}

.side-bar-grid-8 {
  display: inline-block;
  float: left;
  width: 79%;
}

/*  for home page  */

#home-slider {
  height: 400px;
  overflow: hidden;
  padding: 0px;
}

#home-slider img {
  width: 100%;
}

ul {
  padding: 0px;
  margin: 0px;
}

.large-block-grid-3 > li {
  display: inline-block;
  width: 30%;
  height: inherit; /* inherit the block wide */
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 2%;
  vertical-align: top;
}

.large-block-grid-3 > li:first-child {
  margin-left: 2%;
}

.large-block-grid-3 > li img {
  width: 100%; 
  margin-top: 3px;
  margin-bottom: 3px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-left: 5px;
  margin-right: 5px;
}

.align-center {
  text-align: center;
}




