<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/basic.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <title>haha</title>
</head>
<body ng-app="basic">
  <div id="nav" ng-controller="NavController" ng-include="navUrl"></div>  
  <div class="container">
     <!-- for image -->
    <div class="space"></div>
    
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" >
      <ul class="nav" ng-init="selection = 'tab1'">
        <li><a href="#" ng-click="selection = 'tab1'">tab 1</a></li>
        <li><a href="#" ng-click="selection = 'tab2'">tab 2</a></li>
        <li><a href="#" ng-click="selection = 'tab3'">tab 3</a></li>              
      </ul>
    </div>
    <div class="sideBar col-sm-3" ng-init="selection = 'tab1'">
      
    </div>
    <div class="col-sm-9" ng-switch on="selection">
      <div ng-switch-when="tab1"> <h1>Tab 1111 View</h1> </div>
      <div ng-switch-when="tab2"> <h1>Tab 2222 View</h1> </div>
      <div ng-switch-when="tab3"> <h1>Tab 3333 View</h1> </div>
    </div>
  </div>

  <script type="text/javascript">
    //$("#nav").load("ajax/nav.html");
  </script>
</body>
</html>