<div ng-controller="dr" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h4 class="pull-left">
                <p style="font-style: italic" ng-repeat="line in header.title">{{line}}</p>
            </h4>
        </div>
    </div>

    <div class="row" ng-repeat="content in contents">
        <div class="row">
            <hr class="col-sm-3">
        </div>
        <div class="col-sm-8"> 
            <h3>{{content.name}}&nbsp醫師</h3>
            <div class="row">
                <hr class="col-sm-3">
            </div>
            <div class="row" ng-show="content.education[0] !== ''">
                <h4>學歷：</h4>
                <blockquote>
                    <p ng-repeat="line in content.education">{{line}}</p>
                </blockquote>
            </div>
            <div class="row" ng-show="content.now_at[0] !== ''">
                <h4>現任：</h4>
                <blockquote>
                    <p ng-repeat="line in content.now_at">{{line}}</p>
                </blockquote>
            </div>
            <div class="row" ng-show="content.experience[0] !== ''">
                <h4>經歷：</h4>
                <blockquote>
                    <p ng-repeat="line in content.experience">{{line}}</p>
                </blockquote>
            </div>
            <div class="row" ng-show="content.specialist[0] !== ''">
                <h4>專科醫師：</h4>
                <blockquote>
                    <p ng-repeat="line in content.specialist">{{line}}</p>
                </blockquote>
            </div>
        </div>

        <div class="col-sm-4">
            <img id="dr-img" src="{{content.image}}">
        </div>


    </div>
</div>