
<!--   問卷   -->

<div class="container col-sm-offset-3 col-sm-6" ng-show='isSurvey() == 1' ng-controller="SurveyCtrl">
    <h3 class="align-center">健檢分析服務</h3> 
    <p class="align-center">在預約前，本中心提供您簡單的調查，幫您找到適合您的健檢服務。</p>
    <hr class="col-sm-12">
    <form>
      <div class="checkbox" ng-repeat="item in surveyItems">
        <label>
          <input type="checkbox" ng-model="item.selected"> {{ $index+1 }} {{ item.name }}
        </label>
      </div>
      <div class="col-sm-offset-4 col-sm-2">
        <button class="btn btn-style" ng-click='result();isSurveySwitch(2)'>看結果</button>
      </div>
      <div class="col-sm-2">
          <button class="btn btn-default" ng-click='isSurveySwitch(3)'>略過分析</button>
      </div>
      
    </form>
</div>

<!-- 分析結果 -->

<div class="container col-sm-offset-3 col-sm-6" ng-show='isSurvey() == 2' ng-controller="ResultCtrl">
    <h3 class="align-center">健檢分析結果</h3>
    <hr class="col-sm-12">
    <form>
      <div class="col-sm-12 align-center"><br>
        建議您的健檢項目為 「 {{ resultMsg() }} 」，請繼續前往預約服務。
      </div>
      <div class="col-sm-offset-4 col-sm-2">
          <button class="btn btn-style" ng-click='isSurveySwitch(3)'>前往預約<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
      </div>
    </form>
</div>

<!--   線上表單   -->

<div class="container col-sm-offset-3 col-sm-6" ng-show='isSurvey() == 3' ng-controller="ClientCtrl" >
    <h3 class="align-center">線上預約服務</h3>
    <p class="align-center">線上預約請於檢查日一個月前預約。</p>
    <hr class="col-sm-12">
    

    <form id="client_form" class="" ng-model="form">
      <div class="form-group col-sm-12">
        <label class="col-sm-3">姓名</label>
        <div class="col-sm-9">
          <input class="form-control" placeholder="姓名" ng-model="form.name" required>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="col-sm-3">檢查種類</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="form.exam_type" ng-controller="client_option" required>
            <option value="" selected>-- 檢查種類 --</option>
            <optgroup ng-repeat="type in types" label="{{type.title}}">
                <option ng-repeat="n in [] | range:5" ng-if="type['option'+ (n+1)] !== ''">{{type['option'+ (n+1)]}}</option>
            </optgroup>
            <!--<optgroup label="一日全身健檢">-->
              <!--<option>精緻套組</option>-->
              <!--<option>無痛腸胃鏡(A)</option>-->
              <!--<option>無痛腸胃鏡(B)</option>-->
              <!--<option>心血管健檢</option>-->
              <!--<option>腦部MRI</option>-->
            <!--</optgroup>-->
            <!--<optgroup label="一般工作健檢">-->
              <!--<option>一般公司健康檢查</option>-->
              <!--<option>勞工健康檢查</option>-->
              <!--<option>餐飲人員健康檢查</option>-->
            <!--</optgroup>-->
            <!--<optgroup label="公務人員健檢">-->
              <!--<option>公務人員超值健檢</option>-->
              <!--<option>公務人員超音波健檢</option>-->
            <!--</optgroup>-->
            <!--<optgroup label="外籍人士健檢">-->
              <!--<option>外籍人士健檢</option>-->
            <!--</optgroup>-->
            <!--<optgroup label="成人健康檢查">-->
              <!--<option>成人健康檢查</option>-->
            <!--</optgroup>-->
          </select>
        </div>
      </div>

      <div class="form-group col-sm-12" ng-controller="VaildDateCtrl">
        <label class="col-sm-3">預定檢查日期</label> 
        <div class="col-sm-9">
          <div class="col-sm-4"><select class="form-control" ng-model="form.exam_date.year" required>
            <option value="" selected>年</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
          </select></div>
          <div class="col-sm-4"><select class="form-control" ng-model="form.exam_date.month" ng-options="month for month in months" required>
            <option value="" selected>月</option>
          </select></div>
          <div class="col-sm-4"><select class="form-control" ng-model="form.exam_date.day" ng-options="day for day in days()">
            <option value="" selected>日</option>
          </select required></div>
          <!--<input class="form-control" type="date" placeholder="2015-03-15" min="{{ getMinDate(1,0) }}" max="{{ getMaxDate(6,0) }}" ng-model="form.exam_date" required>-->
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="col-sm-3">性別</label>
        <div class="col-sm-9">
          <select class="form-control" ng-model="form.gender" required>
            <option value="" selected>-- 性別 --</option>
            <option>男性</option>
            <option>女性</option>
          </select>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="col-sm-3">身分證字號</label>
        <div class="col-sm-9">
          <input class="form-control" placeholder="身分證字號" ng-model="form.idnum" required>
        </div>
      </div>

      <div class="form-group col-sm-12" ng-controller="VaildDateCtrl">
        <label class="col-sm-3">生日</label>
        <div class="col-sm-9">
          <div class="col-sm-4"><select class="form-control" ng-model="form.birth.year" ng-options="year for year in years" required>
            <option value="" selected>年</option>
          </select></div>
          <div class="col-sm-4"><select class="form-control" ng-model="form.birth.month" ng-options="month for month in months" required>
            <option value="" selected>月</option>
          </select></div>
          <div class="col-sm-4"><select class="form-control" ng-model="form.birth.day" ng-options="day for day in days()">
            <option value="" selected>日</option>
          </select required></div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="col-sm-3">電話</label>
        <div class="col-sm-9">
          <input class="form-control" placeholder="電話" ng-model="form.phone" required>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="col-sm-3">電子信箱</label>
        <div class="col-sm-9">
          <input class="form-control" placeholder="電子信箱" ng-model="form.email" required>
        </div>
      </div>

      <div class="col-sm-12">
        <p id="error_message" class="align-center hightlight my-hide">請填入完整表單！</p>
      </div>

      <div class="form-group col-sm-12" ng-controller="SubmitCtrl">
        <div class="col-sm-offset-4 col-sm-2">
          <button type="button" class="btn btn-style" ng-click="send_email()">開始寄信</button>
        </div>
        <div class="col-sm-2">
          <button type="reset" class="btn btn-default">重新填寫</button>
        </div>
        <div id="form-error-msg" class="col-sm-12 align-center"><br>
          請填寫完所有欄位。
        </div>
      </div>
    </form>

<script type="text/javascript">
  (function(){
    var form = document.getElementById('client_form');
    form.noValidate = true;
    
  })();
  
</script>
</div>