<!--<div class="container" ng-controller="oneday">-->
    <!--&lt;!&ndash; content &ndash;&gt;-->
    <!--<div class="row">-->
        <!--<h3>成人健康檢查</h3>-->
        <!--<div class="row">-->
            <!--<hr class="col-sm-3">-->
        <!--</div>-->
        <!--&lt;!&ndash; img &ndash;&gt;-->
        <!--<div class="row">-->
            <!--<img src="res/images/default.jpg">-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>檢查對象</h4>-->
            <!--<blockquote>-->
                <!--65歲以上，每年一次。<br>-->
                <!--40歲以上，未滿65歲，每三年一次。<br>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>辦理期間</h4>-->
            <!--<blockquote>-->
                <!--每週一至週五，上午8:30至下午3:30。<br>-->
                <!--每週六，上午8:30至11:00。<br>-->
                <!--（全年均可辦理，不需預約，隨到隨檢）<br>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>辦理方法及地點</h4>-->
            <!--<blockquote>-->
                <!--攜帶身分證件及健保卡，至馬偕樓四樓 — 健康檢查中心。<br>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>預約電話</h4>-->
            <!--<blockquote>-->
                <!--（02）2543-3535 分機 2860～2866-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>檢查費用</h4>-->
            <!--<blockquote>-->
                <!--免繳部分負擔，僅需繳交掛號費 $100。<br>-->
                <!--（若有重複施行、超次或不符相關規定者，其費用由保險對象自行負責）<br>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>注意事項</h4>-->
            <!--<blockquote>-->
                <!--<span class="hightlight">檢查前三日請吃清淡食物，檢查前一天晚上十點後勿吃任何飲食。<br></span>-->
            <!--</blockquote>-->
        <!--</div>-->
        <!--<div>-->
            <!--<h4>健檢項目</h4>-->
            <!--<p>（若以下健檢項目無法顯示，請 <a class="sheet_link" href="https://docs.google.com/spreadsheets/d/16w21xv_uKMEVrJNyEdGhzN31FVRNAF-PL9udoKZhAwQ/pubhtml?widget=true&amp;headers=false" target="_blank">點此檢視</a> ）</p>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-9">-->
                    <!--<blockquote>-->
                        <!--<iframe width="100%" height="560px" src="https://docs.google.com/spreadsheets/d/16w21xv_uKMEVrJNyEdGhzN31FVRNAF-PL9udoKZhAwQ/pubhtml?widget=true&amp;headers=false"></iframe>-->
                    <!--</blockquote>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container-fluid" ng-controller="adult">
    <div class="row">
        <h3 class="pull-left">
            {{header.title}}
        </h3>
    </div>
    <div class="row">
        <hr class="col-sm-3">
    </div>

    <div>
        <img src="{{header.image}}" style="width: 100%">
    </div>

    <div class="col-sm-12 wrap">
        <div ng-repeat="content in contents">
            <div>
                <p ng-repeat="line in content.content">{{line}}</p>
            </div>
            <div style="margin: 1em 0em;">
                <div ng-if="content['content' + (n+1)][0] !== ''" ng-repeat="n in [] | range:20">
                    <div>
                        <h4><b>{{content['content' + (n+1)][0]}}</b></h4>
                        <blockquote ng-if="content['content' + (n+1)][1] !== undefined">
                            <p ng-repeat="line in content['content' + (n+1)] track by $index" ng-if="$index > 0">
                                {{line}}
                            </p>
                        </blockquote>
                    </div>
                </div>
                <!--<p ng-if="content.footer[0] !== ''" ng-repeat="line in content.footer">{{line}}</p>-->

            </div>
        </div>

        <div>
            <h4>健檢項目</h4>
            <p>（若以下健檢項目無法顯示，請 <a class="sheet_link" href="https://docs.google.com/spreadsheets/d/16w21xv_uKMEVrJNyEdGhzN31FVRNAF-PL9udoKZhAwQ/pubhtml?widget=true&amp;headers=false" target="_blank">點此檢視</a> ）</p>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <iframe width="100%" height="560px" src="https://docs.google.com/spreadsheets/d/16w21xv_uKMEVrJNyEdGhzN31FVRNAF-PL9udoKZhAwQ/pubhtml?widget=true&amp;headers=false"></iframe>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>