<!--<div class="container" ng-controller="functional">-->
    <!--<div class="row">-->
        <!--<h3>外籍人士健檢</h3>-->
        <!--<div class="row">-->
            <!--<hr class="col-sm-3">-->
        <!--</div>                    -->
        <!--<div class="row">-->
            <!--<img src="res/images/default.jpg">-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>檢查時間</h4>-->
            <!--<blockquote>-->
                <!--<table class="table">-->
                    <!--<tr>-->
                        <!--<th>檢查時間</th>-->
                        <!--<th>報到時間</th>-->
                        <!--<th>離院時間</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>週一至週五</td>-->
                        <!--<td>上午8：00</td>-->
                        <!--<td>約當天下午15：00</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>預約服務時間</h4>-->
            <!--<blockquote>-->
                <!--<ul>-->
                    <!--<li>週一至週五（上午8:00～下午4:30）</li>-->
                    <!--<li>周六（上午8:00～上午11:30）</li>-->
                <!--</ul>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>預約電話</h4>-->
            <!--<blockquote>-->
                <!--（02）2543-3535 分機 2860～2866-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>健檢項目</h4> -->
            <!--<p>（若以下健檢項目無法顯示，請 <a class="sheet_link" href="https://docs.google.com/spreadsheets/d/1NsmT-_fuxcvt8MyL8S2gispkpk24F9yMNJTcRZ-wU58/pubhtml?widget=true&amp;headers=false" target="_blank">點此檢視</a> ）</p>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-9">-->
                    <!--<blockquote>-->
                        <!--<iframe width="100%" height="560px" src="https://docs.google.com/spreadsheets/d/1NsmT-_fuxcvt8MyL8S2gispkpk24F9yMNJTcRZ-wU58/pubhtml?widget=true&amp;headers=false"></iframe>-->
                    <!--</blockquote>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<img src="">-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container-fluid" ng-controller="foreigner">
    <div class="row">
        <h3 class="pull-left">
            {{header.title}}
        </h3>
    </div>
    <div class="row">
        <hr class="col-sm-3">
    </div>

    <div>
        <img src="{{header.image}}" style="width: 100%">
    </div>

    <div class="col-sm-12 wrap">
        <div ng-repeat="content in contents">
            <div ng-if="content.content !== ''">
                <p ng-repeat="line in content.content">{{line}}</p>
            </div>
            <div style="margin: 1em 0em;">
                <div ng-if="content['content' + (n+1)][0] !== ''" ng-repeat="n in [] | range:20">
                    <div>
                        <h4><b>{{content['content' + (n+1)][0]}}</b></h4>
                        <blockquote ng-if="content['content' + (n+1)][1] !== undefined">
                            <p ng-repeat="line in content['content' + (n+1)] track by $index" ng-if="$index > 0">
                                {{line}}
                            </p>
                        </blockquote>
                    </div>
                </div>
                <!--<p ng-if="content.footer[0] !== ''" ng-repeat="line in content.footer">{{line}}</p>-->

            </div>
        </div>

        <div>
            <h4>健檢項目</h4>
            <p>（若以下健檢項目無法顯示，請 <a class="sheet_link" href="https://docs.google.com/spreadsheets/d/1NsmT-_fuxcvt8MyL8S2gispkpk24F9yMNJTcRZ-wU58/pubhtml?widget=true&amp;headers=false" target="_blank">點此檢視</a> ）</p>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <iframe width="100%" height="560px" src="https://docs.google.com/spreadsheets/d/1NsmT-_fuxcvt8MyL8S2gispkpk24F9yMNJTcRZ-wU58/pubhtml?widget=true&amp;headers=false"></iframe>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
