<!--<div class="container" ng-controller="functional">-->
    <!--<div class="row">-->
        <!--<h3>一般工作健檢</h3>-->
        <!--<div class="row">-->
            <!--<hr class="col-sm-3">-->
        <!--</div>                    -->
        <!--<div class="row">-->
            <!--<img src="res/images/default.jpg">-->
        <!--</div>-->

        <!--<div>-->
            <!--<blockquote>-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-9">-->
                        <!--<p>在國人十大死因之中，癌症與惡性腫瘤始終高居國人首位。由於癌細胞是指一些不受控制的細胞，它們的生長速度很快，需不斷吸收體內營養，例如葡萄糖、胺基酸或脂肪酸來幫助快速生長及分裂。其營養的攝取量是正常細胞的二至三十倍。</p>-->
                        <!--<p>正子掃描（PET）藉著在人體注射帶有正電子的葡萄糖、胺基酸或脂肪酸，透過掃描影像去偵-->
                            <!--察細胞的新陳代謝速度，找出癌組織的所在位置。正子電腦斷層掃描儀（ PET-CT ）將電腦掃-->
                            <!--描和正子掃描科技，透過同一部掃描儀器來合成結構及分子功能的影像，把癌細胞準確的位置顯示出來。-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>檢查時間</h4>-->
            <!--<blockquote>-->
                <!--<table class="table">-->
                    <!--<tr>-->
                        <!--<th>檢查時間</th>-->
                        <!--<th>報到時間</th>-->
                        <!--<th>離院時間</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>週一至週五</td>-->
                        <!--<td>上午8：00</td>-->
                        <!--<td>約當天下午15：00</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>預約服務時間</h4>-->
            <!--<blockquote>-->
                <!--<ul>-->
                    <!--<li>週一至週五（上午8:00～下午4:30）</li>-->
                    <!--<li>周六（上午8:00～上午11:30）</li>-->
                <!--</ul>-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>預約電話</h4>-->
            <!--<blockquote>-->
                <!--（02）2543-3535 分機 2860～2866-->
            <!--</blockquote>-->
        <!--</div>-->

        <!--<div>-->
            <!--<h4>健檢項目</h4>-->
            <!--<p>（若以下健檢項目無法顯示，請 <a class="sheet_link" href="https://docs.google.com/spreadsheets/d/1U84J2T8BMCYrVRjxXxwRhEoBlcgtALW4Qy44HRk1zfM/pubhtml?widget=true&amp;headers=false" target="_blank">點此檢視</a> ）</p>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-9">-->
                    <!--<blockquote>-->
                        <!--<iframe width="100%" height="560px" src="https://docs.google.com/spreadsheets/d/1U84J2T8BMCYrVRjxXxwRhEoBlcgtALW4Qy44HRk1zfM/pubhtml?widget=true&amp;headers=false"></iframe>-->
                    <!--</blockquote>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<img src="">-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container-fluid" ng-controller="work">
    <div class="row">
        <h3 class="pull-left">
            {{header.title}}
        </h3>
    </div>
    <div class="row">
        <hr class="col-sm-3">
    </div>


    <div class="col-sm-12 wrap">
        <div ng-repeat="content in contents">
            <div ng-if="content.content !== ''">
                <p ng-repeat="line in content.content">{{line}}</p>
            </div>
            <div style="margin: 1em 0em;">
                <div ng-if="content['content' + (n+1)][0] !== ''" ng-repeat="n in [] | range:20">
                    <div>
                        <h4><b>{{content['content' + (n+1)][0]}}</b></h4>
                        <blockquote ng-if="content['content' + (n+1)][1] !== undefined">
                            <p ng-repeat="line in content['content' + (n+1)] track by $index" ng-if="$index > 0">
                                {{line}}
                            </p>
                        </blockquote>
                    </div>
                </div>
                <!--<p ng-if="content.footer[0] !== ''" ng-repeat="line in content.footer">{{line}}</p>-->

            </div>
        </div>

        <div>
            <h4>健檢項目</h4>
            <p>（若以下健檢項目無法顯示，請 <a class="sheet_link" href="https://docs.google.com/spreadsheets/d/1U84J2T8BMCYrVRjxXxwRhEoBlcgtALW4Qy44HRk1zfM/pubhtml?widget=true&amp;headers=false" target="_blank">點此檢視</a> ）</p>
            <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                        <iframe width="100%" height="560px" src="https://docs.google.com/spreadsheets/d/1U84J2T8BMCYrVRjxXxwRhEoBlcgtALW4Qy44HRk1zfM/pubhtml?widget=true&amp;headers=false"></iframe>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>