<div ng-controller="feature" class="container">
    <div class="row">
        <div class="col-sm-8">
            <h4 class="pull-left">
                <p style="font-style: italic" ng-repeat="line in header.content">{{line}}</p>
            </h4>
        </div>
    </div>
    <div class="row" ng-repeat="content in contents">
        <h3>{{content.title}}</h3>
        <div class="row">
            <hr class="col-sm-3">
        </div>
        <div class="col-sm-offset-1 col-sm-7">
            <p ng-repeat="line in content.content">{{line}}</p>
            <!--&lt;!&ndash; For Image &ndash;&gt;-->
            <!--<div style="border: 2px double">-->
                <!--<img src="res/images/default.jpg" style="width: 50%">-->
            <!--</div>-->
        </div>
    </div>
</div>
