<div id="mainNav">
  <div id="logo" class="col-sm-3">
    <h1>LOGO</h1>
  </div>
  <ul class="nav navbar-static-top col-sm-offset-3" ng-controller="DropdownCtrl">
    <!-- Simple dropdown -->
    <li class="dropdown" ng-repeat="navItem in navItems" dropdown is-open="status.isopen" ng-init="status.isopen">
      <a href class="dropdown-toggle" ng-mouseenter="toggleDropdown($event);status.isopen=true">
        {{navItem.main_item.name}}
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="sub_item in navItem.sub_item">
          <a href>{{sub_item.name}}</a>
        </li>
      </ul>
    </li>
    
    <!--<li class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
        中心簡介
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="choice in items">
          <a href>{{choice}}</a>
        </li>
      </ul>
    </li>
    <li role="listitem" ng-class="{ active: isActive('1.html') }"><a href="./1.html">中心簡介</a></li>
    <li role="listitem" ng-class="{ active: isActive('2.html') }"><a href="./2.html">服務項目</a></li>
    <li role="listitem" ng-class="{ active: isActive('3.html') }"><a href="./3.html">服務陣容</a></li>
    <li role="listitem" ng-class="{ active: isActive('4.html') }"><a href="#">健檢須知</a></li>
    <li role="listitem" ng-class="{ active: isActive('5.html') }"><a href="#">健康大補帖</a></li>
    <li role="listitem" ng-class="{ active: isActive('6.html') }"><a href="#">線上預約</a></li>
    <li role="listitem" ng-class="{ active: isActive('7.html') }"><a href="#">聯絡我們</a></li>-->
  </ul>
</div>